[Desktop Entry]
Name=FRC
Comment=FRC Aurorae theme
X-KDE-PluginInfo-Author=joshlangley
X-KDE-PluginInfo-Website=https://spiffily.github.io
X-KDE-PluginInfo-Category=Aurorae
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL 3+
X-KDE-PluginInfo-Name=FRC
X-KDE-PluginInfo-Version=0.1
